@model IEnumerable<MoneySkillTreeHW.Models.ViewModels.MoneyViewModel>

@{
    Layout = null;
    int seq = 1;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoneyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amt)
                </th>

            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(seq++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.MoneyDate.ToString("yyyy-MM-dd"))*@
                            @(item.MoneyDate.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Amt.ToString("{0:0,0}"))*@
                            @(String.Format("{0:0,0}", item.Amt))
                        </td>

                    </tr>
                }
            }

        </table>
    </div>
</div>
